body {
  margin: 0;
  background-color: lightgray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

#mute {
  display: none;
  position: absolute;
  top: 20px;
  right: 270px;
  width: 42px;
  height: 33px;
  border: none;
  background-position: center;
  background-size: cover;
  background-image: url('../img/somBtn.png');
  background-color: transparent;
}

h1 {
  font-family: monospace;
  border-bottom: 4px double black;
}

#container {
  display: none;
  position: relative;
  box-shadow: 0 0 1em black;
}

div.linha {
  display: flex;
}

  #celula, #personagem, #chegada {
    width: 35px;
    height: 35px;
    font-size: 0;
    background-size: cover;
  }

  #personagem {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  #chegada {
    background-position: center;
    background-color: #28283A;
  }

  #start, #vitoria {
    background-color: lightgreen;
    width: 100%;
    text-align: center;
    height: 200px;
    font-family: monospace;
    font-size: 25px;
    margin-top: 70px;
    padding: 80px 0;
    box-shadow: 0 0 1em black;
  }

  #btnStart, #restart {
    height: 20px;
    background-color: cadetblue;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 40px;
  }

  #btnStart:hover, #restart:hover {
    background-color: rgb(64, 107, 109);
    color: white;
    box-shadow: 10px 5px 5px black;
  }